[Unit]
Description=Virtual Baseboard Management Controller Emulation service
After=syslog.target network.target

[Service]
Type=simple
User=stack
Group=stack
ExecStart=/usr/bin/vbmcd
Restart=on-failure

[Install]
WantedBy=multi-user.target
